

html{
	border: 0px;
	margin: 0px;
	
}

html *{
	font-family: 'Nunito', sans-serif !important;
	
}

body{
	background: #F3F2EF;
}


.icon_style{
	font-size: 16px;
	float: right;
	text-decoration: none;
}

.col-md-1, .col-md-1, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
	padding: 20px 30px;
}
.shadow-drop-2-br {
	-webkit-animation: shadow-drop-2-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.navStyle{
	
	border-bottom: 4px double rgba(255, 255, 255, 0.9);
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 0px 50px -10px rgb(0 0 0 / 80%);
   
    background: rgba(255, 255, 255, 0.7);
	/* backdrop-filter: blur(7.7px); */

}
.header_bg{
	background: #0CAFFF;
 }
.header-text-design{

	font-size: 20px;
	font-weight: bold;
	color: rgb(63,61,86);
	text-decoration: none;
	
}

.header-text-design:hover{
	color: rgb(63,61,86);
}

.hyperlinks_design{
	
	color: yellow;
	text-decoration: none;
	
}

.hyperlinks_design:hover{
	
	color: white;
	text-decoration: underline;
	
}
.menubardiv{
		
	background: #0CAFFF;
}

.menubardiv a{
	color: #E1EBEE;
}


#mynavbar ul
{
	
	list-style: none;
	
}

#mynavbar ul li
{
	float: left;
	padding: 10px
}
 
#mynavbar ul li a
{
	
	padding: 10px 20px;
	text-decoration: none;
}

#mynavbar ul li a:hover
{
	color: red;
	text-decoration: none;
}

.gray{
	
 background: rgb(63,61,86);	

}
.black{
	background-color: black;
}

#footermenubar ul li a
{
	
	color: white;
	padding: 10px 20px;
	text-decoration: none;
}

.footer_rights_text{
	
	color: white;
	text-align: center;
	
}
.footer_rights_text a{
	color: #0CAFFF;
	text-decoration: none;
	font-size: 18px;
}
.textfield_design{
	padding: 5px 10px;
	margin-bottom: 10px;
	width: 300px;
	border-radius: 5px;
	border: 1px solid gray;
}
.textfield_design:focus{
	 background-color: #f2f2f2;
	 outline: none;
     border-color: rgb(63,61,86);;
     box-shadow: 0 0 3px rgb(63,61,86);
}
.textfield_readonly{
	padding: 5px 10px;
	margin-bottom: 10px;
	width: 300px;
	border-radius: 5px;
	border: 1px solid gray;
}
.textfield_readonly:focus{
	 outline: none;
     border-color: #b22222;
     box-shadow: 0 0 2px #b22222;
}

.disable{
	color: gray;
}

.select_option{
	
	padding: 5px 10px;
	width: 200px;
	border-radius: 5px;
	border: 1px solid gray;
}

.jab_search_div{
	
	text-align: center;
	box-shadow: 0 0 2px #ff0000, 0 0 5px rgb(63,61,86);
	border-radius: 5px;
    margin-top: 15px;
}


.display_job_style{
	background-color: #FFFFFF; 
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.display_job_style:hover{

	border-radius: 10px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}


.reg_div_design{
	
	text-align: center;
	border-radius: 10px;
	background: linear-gradient(0deg, #0CAFFF 0%, rgba(213,250,248,0.9396709367340687) 39%);
	-webkit-box-shadow:  3px 3px 5px 6px #ccc; 
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	 box-shadow:         3px 3px 5px 6px #ccc;
	  

}

.profile_text_color{
	color: #acaaaa;
}

.company_name{
	
	text-decoration: none;
	font-size: 22px;
}




